.custom-container {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

.bg-image {
    padding: 0% 5%;
    background: url('../../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    margin: 0;
    width: 100%;
    max-width: 100%;
}
