ion-card.img-container {
    width: 100%;
    height: 200px;
    box-shadow: none;
    border-radius: 0% 0% 50% 50%/0% 0% 12% 12%;
    background-size: 100% 100% !important;
    box-shadow: none;
}

.reposition {
    margin-left: -0.65rem !important;
}

.font-xl {
    font-size: 1.2rem;
}

.button-style {
    border-top-left-radius: 20px;
    background-color: var(--ion-color-tertiary);
    position: relative;
    overflow: hidden;
}

ion-card.desc-container {
    margin: 0;
    padding-top: 1.5rem;
    border-radius: 50% 50% 0% 0%/6% 6% 0% 0%;
    background-size: 100% 100% !important;
    --ion-card-background: var(--ion-color-primary);
    box-shadow: none;
}

.color-currency {
    color: var(--ion-color-success-tint);
}

.background-trans {
    background-color: transparent;
}

.movie-title {
    font-size: 18px;
}

.info {
    background-color: var(--ion-color-secondary);
    border-radius: 10% 10% 0% 0%/15% 15% 0% 0%;
}

.font-xsm {
    font-size: 0.78rem;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translate(calc(-50% - calc(calc(1 / var(--ion-grid-columns, 12)) * 100%) - 1rem), -50%);
    z-index: 999;
}

.color-white {
    color: white;
}

.content-test {
    height: 40px;
    padding-top: 10px;
    background: transparent;
    border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
    -webkit-box-shadow: 0px -5px 3px var(--ion-color-tertiary);
    -moz-box-shadow: 0px -5px 3px var(--ion-color-tertiary);
    box-shadow: 0px -5px 3px var(--ion-color-tertiary);
}

.screen {
    font-size: 0.95rem;
    color: var(--ion-color-step-650);
}

.svg-selected {
    fill: var(--ion-color-tertiary);
}

.color-hint {
    color: var(--ion-color-blue-hint);
}

.svg-available {
    fill: #707070;
}

.disabled {
    background: var(--ion-color-step-450);
}

.font-sm {
    font-size: 0.9rem;
}

.bold {
    font-weight: bold;
}

.svg-taken {
    fill: var(--ion-color-danger);
}

svg {
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.icon-success {
    color: var(--ion-color-success);
    font-size: 20px;
    vertical-align: middle;
    padding: 0;
}

.confirm-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    margin: 0;
}

.button-confirm {
    background-color: var(--ion-color-tertiary);
    padding: 8px 0px;
    color: white;
    border: 2px solid var(--ion-color-tertiary);
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
}

.button-reject {
    background-color: transparent;
    padding: 8px 0px;
    width: 100%;
    font-size: 1rem;
    color: #707070;
    border: 2px solid #707070;
    border-radius: 5px;
    outline: none;
}

button.button-reject:active,
button.button-reject:hover {
    background-color: transparent !important;
}

.confirm-text {
    vertical-align: middle;
    font-size: 0.8rem;
    color: #707070;
}

.confirm-modal {
    background-color: var(--ion-color-primary);
    min-width: 90%;
    border-radius: 5px;
    padding: 16px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::ng-deep .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding-bottom: calc(100% * 9 / 16);
    margin: auto;
    height: 0px;
}

@media (min-width: 576px) {
     ::ng-deep .modal-dialog {
        max-width: 50%;
        margin: 1.75rem auto;
    }
}
