<ngx-spinner [disableAnimation]="true"></ngx-spinner>
<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false">
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size=6>
                <div class="container pt-3 pb-2  background-primary shadow rounded-edges">
                    <p>
                        <fa-icon [icon]="faDollar"></fa-icon> Total Income</p>
                    <p class="card-info color-success">{{income | currency}}</p>
                </div>
            </ion-col>
            <ion-col size=6>
                <div class="container pt-3 pb-2 background-primary shadow rounded-edges">
                    <p>
                        <fa-icon [icon]="faTicket"></fa-icon>Reservations</p>
                    <p class="card-info font-sm"><span class="color-hint">{{totalRes}}</span></p>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="col-12 background-primary shadow rounded-edges pt-3">
                    <p>
                        Reservations Recently Made
                    </p>
                    <div class="row pb-3">
                        <div class="col break-line"></div>
                    </div>
                    <div class="row pr-3 pb-3">
                        <div class="col-12 pl-1" style="height: 150px;">
                            <ngx-charts-line-chart style="fill:#ffffff;" [results]="chartsData" [xAxis]="true" [yAxis]="true" [showGridLines]="false">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="col-lg-4 pb-2 background-primary shadow rounded-edges">
                    <div class="col-12 pl-0 pt-3 pb-3">
                        <p class="m-0">
                            Most Viewed Movies
                        </p>
                    </div>
                    <div class="row pb-3">
                        <div class="col break-line"></div>
                    </div>
                    <div class="col-12 pt-1 my-auto">
                        <div class="row pb-2" *ngFor="let movie of bestSellingMovies;">
                            <div class="col-9 my-auto p-0">
                                <img class="best-selling-img display-inline" src={{movie.landscapeImg}}>
                                <p class="m-0 display-inline font-sm align-middle">{{movie.title | shorten: 15}}</p>
                            </div>
                            <div class="col-3 my-auto text-right p-0">
                                <p class="m-0 display-inline font-sm"> {{movie.viewers}} views </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="col-12 pb-2 background-primary shadow rounded-edges pt-3">
                    <p>
                        Most Loyal Customers
                    </p>
                    <div class="row pb-3">
                        <div class="col break-line"></div>
                    </div>
                    <div class="col-12 my-auto">
                        <div class="row pb-2" *ngFor="let user of loyalUsers">
                            <div class="col-6 my-auto p-0">
                                <p class="m-0 display-inline font-md align-middle">{{user.firstName}} {{user.lastName}}</p>
                            </div>
                            <div class="col-6 my-auto p-0 text-right">
                                <p class="m-0 display-inline font-md"> {{user.nbReservations}} Total Reservations </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="col-12 background-primary shadow rounded-edges pt-3">
                    <p>
                        Movies Distribution Per Category
                    </p>
                    <div class="row">
                        <div class="col break-line"></div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-12 p-0" style="height: 150px;">
                            <ngx-charts-pie-chart style="fill:#ffffff;" [legend]="true" [results]="pieChartData">
                            </ngx-charts-pie-chart>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <div class="col-lg-4 pb-3 background-primary shadow rounded-edges">
                    <div class="col-12 pt-3 p-0">
                        <p>
                            Upcoming Movies
                        </p>
                    </div>
                    <div class="row pb-3">
                        <div class="col break-line"></div>
                    </div>
                    <div class="col-12 my-auto">
                        <div class="row pb-2" *ngFor="let movie of upcomingMovies;">
                            <div class="col-8 my-auto p-0">
                                <img class="best-selling-img display-inline" src={{movie.landscapeImg}}>
                                <p class="m-0 display-inline font-sm align-middle">{{movie.title | shorten: 15}}</p>
                            </div>
                            <div class="col-4 my-auto text-right p-0">
                                <p class="m-0 display-inline font-sm"> {{movie.releaseDate | date: 'MMM d, y'}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
