<ngx-spinner [disableAnimation]="true"></ngx-spinner>
<ng-template #template2>
    <div class="modal-body mx-auto confirm-modal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1 ml-0 pl-0">
                    <fa-icon [icon]="faMinusCircle" class="icon-danger pr-2"></fa-icon>
                </div>
                <div class="col-11 my-auto">
                    <p class="confirm-title pl-1">
                        Delete Movie</p>
                </div>
            </div>
            <div class="row">
                <div class="col-11 offset-1">
                    <p class="confirm-text pl-1 pb-2"> Are you sure you want to proceed? Deleting a movie cannot be undone.</p>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-5 offset-1">
                    <button class="button-confirm" (click)="onDeleteMovie(currentMovie)">Delete</button>
                </div>
                <div class="col-5 mr-2 pl-0">
                    <button class="button-reject" (click)="decline()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ion-header>
    <ion-toolbar>
        <ion-title>
            Movies
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false">
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="8" class="my-auto">
                <p class="bold"><span class="color-hint">Swipe </span>movie to delete, <span class="color-hint">click</span> to edit. </p>
            </ion-col>
            <ion-col size="4">
                <ion-button class="text-normal" color="tertiary" routerLink="/admin/movies/add" size="medium">
                    <ion-icon slot="start" name="add"></ion-icon>
                    Add Movie
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-item-sliding *ngFor="let movie of showedMovies" #slidingMovies>
            <ion-item class="mb-3 mt-3" (click)="onEditMovie(movie.id)" color="primary" lines="none">
                <ion-col size="3">
                    <div class="wrapper">
                        <img class="img-style" src="{{movie.portraitImg}}">
                        <ion-icon name="play-circle-outline" class="centered" (click)="onEditMovie(movie.id, movie.trailer)"></ion-icon>
                    </div>
                </ion-col>
                <ion-col size="9" class="mt-1 pt-0">
                    <ion-row>
                        <ion-col size="12" class="pb-0 pt-0 my-auto">
                            <p class="m-0 font-movie-title left">{{movie.title | shorten: 15}} <span class="pr-2 pl-2"> &#9679; </span> {{movie.releaseDate | date: 'y'}} </p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <p class="m-0"><span class="background-blue font-sm category-container mr-2" *ngFor="let category of movie.categories">{{category.name}}</span></p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12" class="pr-0">
                            <p class="m-0 font-sm pr-2" align="justify"> {{movie.description | shorten: 70}} </p>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-item>
            <ion-item-options>
                <ion-item-option class="mb-3 mt-3" color="danger">
                    <ion-icon name="trash" slot="icon-only" (click)="openModal(template2, movie.id, slidingMovies)"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
        <ion-infinite-scroll [disabled]="movies.length === showedMovies.length" threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more movies...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-grid>
</ion-content>
